*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Potpisni kljuc i lozinke - NIKADA u git
keystore.properties
*.jks
*.keystore

# Kotlin build tooling log-ovi
.kotlin/
